@page "/"
@using MysqlBackup.Services
@using System.Reactive.Linq
@using System.Threading
@inject BackupTargetService BackupTargets

<h3>MySQL Backup Utility</h3>
This is a static service, all configuration is performed through the 'appsettings.json' file.

@foreach (var pair in BackupTargets.Targets)
{
    <BSCard Color="Color.Dark">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">@pair.Value.Name</BSCard>
            <BSCard CardType="CardType.Text">
                Backup runs in @pair.Value.RunsInText
            </BSCard>
        </BSCard>
    </BSCard>
    <br />
}


@code {

    protected override void OnInitialized()
    {
        Observable.Interval(TimeSpan.FromSeconds(5))
            .ObserveOn(SynchronizationContext.Current)
            .Subscribe(l => StateHasChanged());
    }



}
